/*
.windowmanager-modal-container
{
    position: fixed;
    background: #252525 !important;
    text-align: left !important;
    display: block;
    left: 200px;
    top: 60px;
    color: white;
    overflow: hidden;
    z-index: 100000;
    width: 750px;
    height: 53px;
    border: solid 4px #000; 
    border-color
}
*/

.windowmanager-modal-container
{
    background: #252525 !important;
    text-align: left !important;
    color: white;
    border: solid 4px #252525; 
	position:fixed;
	z-index:100000;
	display:block;
	left:100px;
	top:100px;
	color:White;
	overflow:hidden;
	width:700px;
	height:50px;
}


.windowmanager-modal-container-header
{
    /*padding:    20px 20px 20px 72px !important;*/
    padding: 10px 10px 10px 72px !important;
    font-size: 16px !important;
    line-height: 18px !important;
    font-weight: bold !important;
    font-family: Arial, Verdana, Helvetica, sans-serif !important;
    letter-spacing: -1px !important;
    color: #fff !important;
    /* border-bottom: solid 1px #BEBDBC;
    background: transparent url(images/windowHeader.png) repeat-x; 
	background: transparent url(images/configure-large-style.png) no-repeat scroll 12px 12px;*/
}

.windowmanager-icon
{
    float:left;
    height:50px;
    margin-right:10px
 }
 
 .windowmanager-icon img
 {
	background-color:#252525;	
 }
 
 
.windowmanager-container-subtitle
{
    font-size: 11px !important;
    line-height: 12px !important;
    padding-top: 3px !important;
    font-weight: normal !important;
    letter-spacing: 0px !important;
    color: #fff !important;
    height: 12px;
    width:150px;
    top:250px;
}


.windowmanager-container-frame
{
  position: relative;
  background-color:#fff;
}


a.windowmanager-container-link
{
    -moz-outline: 0;
    color: #9F9F9F !important;
    background: transparent !important;
    border: 0 !important;
    text-decoration: none !important;
    font-family: Arial !important;
    font-size: 16px !important;
    font-weight: bold !important;
    line-height: 1em !important;
    font-style: normal !important;
    text-transform: none !important;
    letter-spacing: -1px !important;
    margin: 0 !important;
    padding: 0 !important;
}


a.windowmanager-container-link:hover
{
    -moz-outline: 0;
    color: white !important;
    background: transparent !important;
    border: 0 !important;
    text-decoration: none !important;
    font-family: Arial !important;
    font-size: 16px !important;
    font-weight: bold !important;
    line-height: 1em !important;
    font-style: normal !important;
    text-transform: none !important;
    letter-spacing: -1px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.windowmanager-screen-mask
{
    position: fixed;
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
    -moz-background-clip: -moz-initial;
    -moz-background-origin: -moz-initial;
    -moz-background-inline-policy: -moz-initial;
    background: rgb(0, 0, 0) none repeat scroll 0% 0%;
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0.4;
    -moz-opacity: 0.4;
    filter: alpha(opacity=40);
}
